# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\REPOSITORIO JAVASCRIPT TO GITHUB\num_in_spinner_with_javascript\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
